* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  color: #151414;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  width: 160px;
  height: 64px;
  background: #f15b22;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  border: none;
}

/* header starts */
header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 40px;
}

nav {
  display: flex;
  margin: 0 230px;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 65px;
  font-size: 20px;
  cursor: pointer;

  transition: ease;
  padding-bottom: 5px;
}

nav h2 {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #f15b22;
  padding: 8px 12px;
  border: 3px solid black;
  border-radius: 10px;
}

.cta-header {
  width: 120px;
  height: 48px;
  background-color: #f15b22;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border: none;
}

/* nav ends */

/* banner starts */

.banner {
  text-align: right;
  margin: 100px 230px;
}

.banner h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #151414;
  margin-bottom: 24px;
}

.primary-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 32px;
}

.banner-button {
  margin-bottom: 125px;
}
